# Core functionality - changes here should be rare!
/src/app.py                   @natestrom
/src/backend/database.py      @natestrom
/src/backend/routers/auth.py  @natestrom

# The frontend will need refactored soon to be more object oriented.
/src/static/   @natestrom
